*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
body {
  padding: 1em 0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0;
}

textarea::placeholder {
  color: inherit
}